<h1>
  Gestion de Empleados
</h1>
<a href="https://www.youtube.com/watch?v=2N55u8ZHYWQ&feature=youtu.be" target="_black">Ver video tutorial-asistencia</a>

<table>
  <thead>

    <tr>
      <td>Id</td>
      <td>fullName </td>
      <td>typeContract2</td>
      <td>rate</td>
      <td>dateCreation</td>
      <td> </td>
      <td>Accion 1</td>
      <td>Accion 2</td>
    </tr>
  </thead>

  <tr *ngFor="let item of ListaModelo">
    <td>{{ item.ID }}</td>
    <td>{{ item.fullName }}</td>
    <td>{{ item.typeContract2 }}</td>
    <td>{{ item.rate }}</td>
    <td>{{ item.dateCreation }}</td>
    <td>
      <input type="checkbox" [(ngModel)]="item.seleccionado">
    </td>
    <td>
      <button (click)="eliminarEmploye(item.ID)" [(ngModel)]="item.ID">Eliminar</button>
    </td>
    <td>
      <button (click)="actualizarEmploye(this)">Actualizar</button>
    </td>
  </tr>
</table>

<button *ngIf="!banNuevo" (click)="banNuevo = true">Nuevo</button>
<button *ngIf="banNuevo" (click)="banNuevo = false">Cancelar</button>

<button (click)="eliminacionMasivaEmployeesChecked()">Eliminar seleccionados</button>
<div *ngIf="banNuevo">
  <h4>Nuevo elemento</h4>
  <label for="txtId">ID</label>
  <input #txtId type="text" [(ngModel)]="Modelo.ID">
  <br>
  <label for="txtfullName">fullName</label>
  <input #txtfullName type="text" [(ngModel)]="Modelo.fullName">

  <br>
  <label for="txttypeContract2">typeContract2</label>
  <select id="txttypeContract2" [(ngModel)]="Modelo.typeContract2">
    <option value="Hourly">Hourly</option>
    <option value="Monthly">Monthly</option>
  </select>

  <br>
  <label for="txtrate">rate</label>
  <input #txtrate type="text" [(ngModel)]="Modelo.rate">

  <button (click)='crearEmployee()'>Registrar</button>

</div>